@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574680850767'); /* IE9 */
  src: url('iconfont.eot?t=1574680850767#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABowAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIESATYCJAMICwYABCAFhG0HLhu2BcgekiQlqlaDA5QSFwjAFA/978e68/5gIkmiaBZNZBKdSsXXWt/SOX21hP+/a5oRC5uRK5AasirKK/1crwe5l0vHaAt6xGpvwhLpsW0HDrl5dLEIQkg4MM/nuZzeBDqQa3xvOO1NYw68FwUYWBroHhgtDrgYG8YucAnXCbSaZJJ33DfiRaWSNS8Q95IYQqW5uJSs1Cw01mxN8UWD5vJUHiAf4e/jP0eUUjRUrI6zu94o6viVdkX1WM+79QkJAtrdgArrkCSuavMnCgTjCrTuLzQLSSn4lXWNfWKvbsH+Oqu5HYxDzT1pXd2tNheQ8egKZHPU51GGCexfr4mZrQE4vlo63V0lJ3e7cfRo+1Q83VqBVPLHIDnZXI4m08Pzbe9QmlvOVUd/u52N9UtLx74WX8/ySp/rcnIqe5L1ZL2tb5ma9LX2vjPxrwNS16TyJhDE80ZaqNl+sxJ8xmdvaOgXpHnngeAn2XIWg663PCVVVUtzoFgZNbegVStqONzrc6xj4I7KodnAfQWbTKSoNJsnk11HgzZbaNRsD63W9O9u04cpENmCVSsAodslik4/Uen2SCb7gQaDcmjUHQVodRN9R7ZZDKn8iEGIQxSHJ7AUoRpx/Lw8anWDmFBCLKsPeT8wQ0phu8VWLPWDBmyOFcao6OCcYMKoivvAbaAoFOuMxiHCLTHO9SarldQ9yBKhKip3hAEhHIjCwiZgkghKQ/zhXHnp+25AlKAIYS2CmrIfYAzS+Jidha0H2W/Regnu5R7DKJEDxxEYwVAqrA9MAgoFhen1k+JABGcRG5HVNbHag0hfi2V9m/oB1awPy1nC7q3kA0hmhAAA') format('woff2'),
  url('iconfont.woff?t=1574680850767') format('woff'),
  url('iconfont.ttf?t=1574680850767') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574680850767#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wei-:before {
  content: "\e604";
}

