*{
    margin:0;
    padding:0
}
ul{
    list-style: none;
}
.md{
    width: 1200px;
    margin: auto;
}
.md header{
    border:1px solid #ccc;
    height: 50px;
    line-height: 50px;
}
.md header span{
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
}
.md header span:first-child{
    cursor: default;
}
#box{
    overflow: hidden;
    margin-top: 20px;
}
#box li{
    float: left;
    width: 220px;
    height: 340px;
    margin:0 25px 25px 0;
    box-sizing: border-box;
    border:1px solid #ccc;
    position: relative;
}
#box li:nth-child(5n){
    margin-right: 0;
}
#box li:hover{
    border-color: red;
}
img{
    height: 100%;
}
#box li .imgBox{
    height: 180px;
    width: 180px;
    margin: 20px auto;
}
#box li .til{
    color: #424242;
    text-align: center;
    font-size: 16px;
  
}#box li .desc{
   margin:8px 0;
   visibility: hidden;
}
#box li .price,#box li .desc{
    text-align: center;
    font-size: 16px;
    color: red;
}
#box li .botBox{
    position: absolute;
    font-size: 14px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}
#box li .botBox div{
    flex: 1;
    border-top: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    text-align: center
}
#box li .botBox div:first-child{
    border-right: 1px solid #ccc;
     
}
